<div class='jumbotron'>
	<h1><i class="fa fa-circle-o-notch" aria-hidden="true"></i> Welcome to Taskr</h1>
	<p>Find me in app/views/pages/home.html.erb</p>
	<%= link_to 'Sign Up', new_user_registration_path, class:'btn btn-success btn-lg' %>
</div>
