<div class='row'>
	<div class='col-md-4'>
			<h1 class='text-center'>TO DO</h1>
			<div class='panel panel-primary'>
				<div class="panel-heading">My To-Do Tasks</div>
					<div class='panel-body'>This is my first to-do</div>
						<div class='panel-footer'>Footer</div>

			</div>
	</div>
	<div class='col-md-4'>
		<h1 class='text-center'>DOING</h1>
		<div class='panel panel-primary'>
				<div class="panel-heading">My Doing Tasks</div>
					<div class='panel-body'>This is my first to-do</div>
						<div class='panel-footer'>Footer</div>
		</div>

	</div>
	<div class='col-md-4'>
		<h1 class='text-center'>DONE</h1>
		<div class='panel panel-primary'>
				<div class="panel-heading">My Done Tasks</div>
					<div class='panel-body'>This is my first to-do</div>
						<div class='panel-footer'>Footer</div>
		</div>
	</div>
</div>